<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2 *ngIf="jobSite">measurement list for {{jobSite.Title}}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <a *ngIf="jobSite" mat-button color="primary" [routerLink]="['/job-site-read', jobSite.JobSiteId]" title="job site">
      <span class="fa fa-close"></span> job site</a>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-button color="primary" (click)="Reload()" title="reload">
      <span class="fa fa-refresh"></span> reload</button>
    <a *ngIf="jobSite" mat-button color="primary" [routerLink]="['/measurement-create', jobSite.JobSiteId]" title="create">
      <span class="fa fa-plus"></span> create</a>
  </mat-card-actions>
  <mat-card-content>
    <p-orderList [value]="Measurements" [responsive]="true" dragdrop="true" dragdropScope="Measurements" (onReorder)="onReorder()">
      <ng-template let-measure pTemplate="item">
        <div class="ui-helper-clearfix">
          <a mat-button color="primary" [routerLink]="['/measurement-update', measure.MeasurementId]" title="update">
            <span class="fa fa-edit"></span> update</a> joint:
          <span>{{measure.Joint}}</span>; pipe:
          <span>{{measure.PipeLength}}</span>; thread:
          <span>{{measure.ThreadLength}}</span>; type:
          <span>{{measure.ItemDescription}}</span>
        </div>
      </ng-template>
    </p-orderList>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="Save()" title="save">
      <span class="fa fa-save"></span> save order</button>
  </mat-card-actions>
</mat-card>

<p-growl [(value)]="messageSvc.msgs"></p-growl>