<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>person identifier type list</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button color="primary" (click)="Reload()" title="reload">
      <span class="fa fa-refresh"></span> reload</button>
    <a mat-button color="primary" [routerLink]="['/job-site-create']" title="create">
      <span class="fa fa-plus"></span> create</a>
  </mat-card-actions>
  <mat-card-content>
    <p-dataTable [value]="JobSiteType" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" selectionMode="single"
      (onRowSelect)="onRowSelect($event)">
      <p-column field="JobSiteId" header="id" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="Code" header="code" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="Title" header="title" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="Latitude" header="Latitude" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="Longitude" header="Longitude" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="TotalWeight" header="TotalWeight" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="PipeDiameter" header="PipeDiameter" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="ThreadType" header="ThreadType" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    </p-dataTable>
  </mat-card-content>
</mat-card>

<p-growl [(value)]="messageSvc.msgs"></p-growl>
