<div *ngIf="entity">
  <div>
    <label for="Joint">joint</label>
    <span id="Joint">{{entity.Joint}}</span>
  </div>
  <div>
    <label for="PipeLength">pipe length</label>
    <span id="PipeLength">{{entity.PipeLength}}</span>
  </div>
  <div>
    <label for="ThreadLength">thread length</label>
    <span id="ThreadLength">{{entity.ThreadLength}}</span>
  </div>
  <div>
    <label for="ItemDescription">description</label>
    <span id="ItemDescription">{{entity.ItemDescription}}</span>
  </div>
  <div>
    <label for="TopThread">top thread</label>
    <span id="TopThread">{{entity.TopThread}}</span>
  </div>
  <div>
    <label for="IsDamaged">damaged</label>
    <span id="IsDamaged">{{entity.IsDamaged}}</span>
  </div>
</div>