<div *ngIf="entity">
  <h2>{{entity.Title}}</h2>
  <div>
    <label for="Joint">Joint</label>
    <span id="Joint">{{entity.Joint}}</span>
  </div>
  <div>
    <label for="PipeLength">PipeLength</label>
    <span id="PipeLength">{{entity.PipeLength}}</span>
  </div>
  <div>
    <label for="ThreadLength">ThreadLength</label>
    <span id="ThreadLength">{{entity.ThreadLength}}</span>
  </div>
  <div>
    <label for="ItemDescription">ItemDescription</label>
    <span id="ItemDescription">{{entity.ItemDescription}}</span>
  </div>
  <div>
    <label for="TopThread">TopThread</label>
    <span id="TopThread">{{entity.TopThread}}</span>
  </div>
  <div>
    <label for="IsDamaged">IsDamaged</label>
    <span id="IsDamaged">{{entity.IsDamaged}}</span>
  </div>
  <div>
    <label for="JobSite">JobSite</label>
    <span id="JobSite">{{entity.JobSite}}</span>
  </div>
</div>