<div *ngIf="entity">
  <form *ngIf="form" [formGroup]="form">
    <div>
      <mat-form-field>
        <input matInput type="text" placeholder="Title" maxlength="100" formControlName="Title" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="number" placeholder="Latitude" formControlName="Latitude" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="number" placeholder="Longitude" formControlName="Longitude" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="number" placeholder="Total Weight" formControlName="TotalWeight" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="string" maxlength="100" placeholder="Grade" formControlName="Grade" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="number" placeholder="Inner Diameter" formControlName="InnerDiameter" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="number" placeholder="Outer Diameter" formControlName="OuterDiameter" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="text" placeholder="Thread Type" formControlName="ThreadType" />
      </mat-form-field>
    </div>
  </form>
</div>
