<div *ngIf="entity">
  <h2>{{entity.Title}}</h2>
  <div>
    <label for="Latitude">Latitude</label>
    <span id="Latitude">{{entity.Latitude}}</span>
  </div>
  <div>
    <label for="Longitude">Longitude</label>
    <span id="Longitude">{{entity.Longitude}}</span>
  </div>
  <div>
    <label for="TotalWeight">Total Weight</label>
    <span id="TotalWeight">{{entity.TotalWeight}}</span>
  </div>
  <div>
    <label for="Grade">Grade</label>
    <span id="Grade">{{entity.Grade}}</span>
  </div>
  <div>
    <label for="InnerDiameter">Inner Diameter</label>
    <span id="InnerDiameter">{{entity.InnerDiameter}}</span>
  </div>
  <div>
    <label for="OuterDiameter">Outer Diameter</label>
    <span id="OuterDiameter">{{entity.OuterDiameter}}</span>
  </div>
  <div>
    <label for="ThreadType">Thread Type</label>
    <span id="ThreadType">{{entity.ThreadType}}</span>
  </div>
</div>